# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.obj
Debug/vc80.idb
*.res
Debug/CoreDll.dll.embed.manifest
*.htm
Debug/BAT0000081655614432.bat
*.user
*.svn-base
.svn/format
*.bat
Debug/vc80.pdb
*.pch
Debug/CoreDll.dll.intermediate.manifest
*.idb
Release/vc80.pdb
*.txt
Debug/mt.dep
*.vcproj
.svn/entries
*.db
*.cpp
stdafx.h
*.tlog
Debug/CoreDll.lastbuildstate
*.pdb
Release/CoreDll.vcxprojResolveAssemblyReference.cache
*.log
Debug/CoreDll_manifest.rc
